[submodule "2210hw2-EHargis2137"]
	path = 2210hw2-EHargis2137
	url = https://github.com/lsudigitalart/2210hw2-EHargis2137
[submodule "2210hw2-Mayor-Cam"]
	path = 2210hw2-Mayor-Cam
	url = https://github.com/lsudigitalart/2210hw2-Mayor-Cam
[submodule "2210hw2-MeliBuck"]
	path = 2210hw2-MeliBuck
	url = https://github.com/lsudigitalart/2210hw2-MeliBuck
[submodule "2210hw2-geauthreauxz"]
	path = 2210hw2-geauthreauxz
	url = https://github.com/lsudigitalart/2210hw2-geauthreauxz
[submodule "2210hw2-gwebb2"]
	path = 2210hw2-gwebb2
	url = https://github.com/lsudigitalart/2210hw2-gwebb2
[submodule "2210hw2-mjtheriot4"]
	path = 2210hw2-mjtheriot4
	url = https://github.com/lsudigitalart/2210hw2-mjtheriot4
